@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap");
html, body, header, main, footer, h1, h2, h3, h4, nav, section, ul, li, p, a, form, div, label, input, textarea, button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  list-style: none;
  border: none;
  background: none;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 400 2rem/1.2 "Yantramanav", sans-serif;
  color: #707070;
}

header, footer {
  background: #121418;
  display: flex;
  padding: 3rem 8rem;
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

header nav ul {
  display: flex;
}

header li {
  margin: 0 1rem;
  padding-top: 1rem;
}

header li a {
  font-weight: 300;
}

h1 a, h2 a {
  font: italic 700 4rem "Playfair Display", serif;
}

h2 {
  font-size: 6rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

footer {
  color: #ffffff;
  flex-wrap: wrap;
}

footer h2, footer h3, footer h4, footer p {
  margin-bottom: 1rem;
}

footer .socials {
  margin-bottom: 3rem;
}

footer section:nth-of-type(1), footer section:nth-of-type(2) {
  margin-right: 15rem;
}

footer section:last-child {
  content: "";
  flex-grow: 1;
}

footer nav {
  display: flex;
}

footer nav ul:nth-of-type(2) {
  margin-left: 2rem;
}

footer nav li {
  margin-bottom: 1rem;
}

footer h4, footer h3 {
  font-size: 3rem;
  font-weight: 300;
}

footer a, footer p, footer input {
  font-weight: 300;
}

footer p {
  width: 50rem;
}

footer input {
  width: 42rem;
  border: 1px solid #ffffff;
  padding: 1.4rem;
  color: #DECEC4;
  background-color: #80242B;
}

footer button {
  background-color: #ffffff;
  padding: 1.5rem;
  margin-left: -.5rem;
}

a {
  color: #ffffff;
}

.quoteBtn {
  padding: 1.5rem 3rem;
  border: 1px solid #DECEC4;
  border-radius: 50rem;
  color: #DECEC4;
  background-color: #80242B;
}

.socials {
  display: flex;
}

.socials li {
  margin: 0 1rem;
}

.copyright {
  border-top: solid 1px #ffffff;
  margin-top: 3rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.copyright p {
  width: unset;
}

span.copy {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

#contact {
  padding: 8rem;
}

#contact h2 {
  color: #121418;
  margin-bottom: 2rem;
}

#contact h3 {
  color: #80242B;
  margin-bottom: .5rem;
}

#contact p {
  max-width: 50rem;
}

#contact ul {
  margin-top: 3rem;
}

#contact li {
  margin-bottom: 2rem;
  color: #121418;
  font-size: 2rem;
}

.cntinfo {
  color: #80242B;
}

form {
  max-width: 65rem;
  margin: 8rem 8rem;
  border: solid 1px #C2C2C2;
  background-color: #DECEC4;
}

form h3 {
  color: #121418;
}

form h3, form input, form textarea, form button {
  width: calc(100% - 4rem);
  margin: 1.5rem 2rem;
}

form input, form textarea {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.5rem 2rem;
}

form textarea {
  height: 30rem;
}

form button {
  text-transform: uppercase;
  color: #DECEC4;
  border-radius: 50rem;
  background-color: #80242B;
  padding: 1.5rem 8rem;
}

label {
  display: none;
}

div:first-of-type, div:last-of-type {
  width: 100%;
}

#cta {
  background-image: url("/images/truck.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 10rem;
  padding: 18rem 8rem;
}

#cta h2 {
  color: black;
  margin: 40rem 0 1rem 0;
}

#cta p {
  color: #ffffff;
  max-width: 52rem;
  margin-bottom: 5rem;
  text-shadow: 0.08rem 0 #121418, 0 0.08rem #121418, -0.08rem 0 #121418, 0 -0.08rem #121418;
}

#cta a {
  color: #DECEC4;
  background-color: #80242B;
  border: solid 1px #DECEC4;
  border-radius: 50rem;
  padding: 1.5rem 20rem;
}
/*# sourceMappingURL=main.css.map */