@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap");
html, body, header, main, footer, h1, h2, h3, h4, h5, h6, nav, section, ul, li, p, a, form, div, label, input, textarea, button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  list-style: none;
  border: none;
  background: none;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 400 2rem/1.4 "Yantramanav", sans-serif;
  color: #707070;
}

a:hover {
  color: #E6C2B2;
}

header, footer {
  background: #121418;
}

@media (min-width: 300px) {
  header, footer {
    padding: 3rem 4rem;
  }
}

@media (min-width: 400px) {
  header, footer {
    padding: 3rem 8rem;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

header li {
  margin: 0 1rem;
}

@media (max-width: 1400px) {
  header li {
    padding-top: 1rem;
  }
}

header li a {
  font-weight: 300;
}

h1 a, h2 a {
  white-space: nowrap;
}

@media (min-width: 300px) {
  h1 a, h2 a {
    font: italic 700 3rem "Playfair Display", serif;
  }
}

@media (min-width: 400px) {
  h1 a, h2 a {
    font: italic 700 4rem "Playfair Display", serif;
  }
}

h2 {
  font-weight: 700;
}

@media (min-width: 300px) {
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 400px) {
  h2 {
    font-size: 6rem;
  }
}

h3 {
  font-weight: 500;
}

@media (min-width: 300px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media (min-width: 400px) {
  h3 {
    font-size: 3rem;
  }
}

footer {
  color: #ffffff;
}

footer h4, footer h3 {
  font-size: 3rem;
  font-weight: 300;
}

footer a, footer p, footer input {
  font-weight: 300;
}

footer p {
  max-width: 50rem;
}

footer .errorLabel {
  padding: 1rem 0 0 0;
}

a {
  color: #ffffff;
}

#footerNav {
  margin-right: 3.8rem;
}

.quoteBtn {
  width: fit-content;
  border: 1px solid #E6C2B2;
  border-radius: 50rem;
  background-color: #80242B;
}

.quoteBtn a {
  color: #E6C2B2;
}

@media (min-width: 300px) {
  .quoteBtn {
    padding: 0.8rem 0.5rem;
  }
}

@media (min-width: 400px) {
  .quoteBtn {
    padding: 1.2rem 3rem;
  }
}

.socials li {
  transition: transform 0.1s ease-in-out;
}

.socials li:active {
  transform: scale(0.93);
}

.socials a {
  font-size: 0;
  margin-right: 3rem;
  transition: color 0.1s ease-in-out;
}

#fb::before {
  content: "";
  font: 400 4rem "Font Awesome 5 Brands";
  text-shadow: 2.5px 2.5px 5px #707070;
}

#twitter::before {
  content: "";
  font: 400 4rem "Font Awesome 5 Brands";
  text-shadow: 2.5px 2.5px 5px #707070;
}

#insta::before {
  content: "";
  font: 400 4rem "Font Awesome 5 Brands";
  text-shadow: 2.5px 2.5px 5px #707070;
}

#linked::before {
  content: "";
  font: 400 4rem "Font Awesome 5 Brands";
  text-shadow: 2.5px 2.5px 5px #707070;
}

.copyright {
  font-size: 1.5rem;
}

.copy {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

#thankYouMessage {
  color: #E6C2B2;
}

.subscribeSection {
  font-size: 0;
}

.subscribeSection p, .subscribeSection button, .subscribeSection input {
  font-size: 2rem;
}

.subscribeSection input {
  height: 6rem;
  border: 2px solid #ffffff;
  color: #E6C2B2;
  background-color: #80242B;
  text-indent: 1rem;
}

@media (min-width: 300px) {
  .subscribeSection input {
    min-width: 65%;
  }
}

@media (min-width: 550px) {
  .subscribeSection input {
    min-width: 75%;
  }
}

.subscribeSection button {
  height: 6rem;
  padding: 0 1.5rem;
  background-color: #ffffff;
  color: transparent;
  background: white url("https://coneynicollete-fs.github.io/coneytransports/images/email.svg") no-repeat top;
}

@media (any-hover: hover) {
  .subscribeSection button:hover {
    background: white url("https://coneynicollete-fs.github.io/coneytransports/images/emailhover.svg") no-repeat top;
  }
}

.subscribeSection button:active {
  background: white url("https://coneynicollete-fs.github.io/coneytransports/images/emailactive.svg") no-repeat top;
}

@media (min-width: 300px) {
  :target {
    scroll-margin-top: 25rem;
    scroll-snap-margin-top: 25rem;
  }
}

@media (min-width: 977px) {
  :target {
    scroll-margin-top: 10rem;
    scroll-snap-margin-top: 10rem;
  }
}

.currentScroll, .currentAlways {
  color: #E6C2B2;
  text-shadow: 1.8px 1.8px 3px #80242B;
  border-bottom: dashed 1.98px;
  padding-bottom: .2rem;
}

nav a {
  transition: color 0.2s ease-in-out;
}

h1 a:hover, h2 a:hover {
  color: #ffffff;
}

.quoteBtn, .goToServices {
  transition: transform, background-color 0.3s ease-in-out;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.164) inset;
}

@media (any-hover: hover) {
  .quoteBtn:hover, .goToServices:hover {
    background-color: #E6C2B2;
    border-color: #80242B;
    box-shadow: 3px 3px 5px rgba(59, 19, 19, 0.432) inset;
  }
  .quoteBtn:hover a, .goToServices:hover a {
    color: #80242B;
  }
}

.quoteBtn:active, .goToServices:active {
  transform: scale(0.93);
}

form button, #careerspage button, #finalCTA p {
  border: solid 1px #707070;
  transition: transform, background-color 0.3s ease-in-out;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.397) inset;
}

@media (any-hover: hover) {
  form button:hover, #careerspage button:hover, #finalCTA p:hover {
    color: #80242B;
    background-color: #707070;
  }
}

form button:active, #careerspage button:active, #finalCTA p:active {
  transform: scale(0.98);
}

.navbar-toggler {
  margin-top: .5rem;
}

@media (max-width: 992px) {
  .navbar-toggler {
    margin: 3.5rem 0 0rem 1rem;
  }
}

.navbar-toggler-icon {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 992px) {
  #navButton {
    margin-top: 1.2rem;
  }
}

#contactpage a {
  color: #121418;
}

#contactpage section {
  margin: 0 5rem 5rem 0;
}

@media (min-width: 300px) {
  #contactpage {
    padding: 3rem 4rem;
  }
}

@media (min-width: 400px) {
  #contactpage {
    padding: 8rem 8rem;
  }
}

#contactpage h2 {
  color: #121418;
  margin-bottom: 2rem;
}

#contactpage h3 {
  color: #80242B;
  margin-bottom: .5rem;
}

#contactpage p {
  min-width: 35rem;
  max-width: 50rem;
}

#contactpage ul {
  margin-top: 3rem;
}

#contactpage li {
  margin-bottom: 2rem;
  color: #121418;
  font-size: 2rem;
}

dl {
  margin-top: 2rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  min-width: 38rem;
  max-width: 50rem;
}

dt {
  margin-top: 2rem;
  color: #80242B;
  font-weight: inherit;
  flex: 0 0 37%;
}

@media (min-width: 1300px) {
  dt {
    flex: 0 0 30%;
  }
}

dd {
  color: #121418;
  margin-top: 2.9rem;
  flex: 0 0 63%;
}

@media (min-width: 1300px) {
  dd {
    flex: 0 0 70%;
  }
}

#call::before {
  content: "call";
  font-family: 'Material Icons';
  font-size: 3.5rem;
  color: #121418;
  vertical-align: middle;
  padding-right: 2rem;
}

#fax::before {
  content: "fax";
  font-family: 'Material Icons';
  font-size: 3.5rem;
  color: #121418;
  vertical-align: middle;
  padding-right: 2rem;
}

#webmail::before {
  content: "email";
  font-family: 'Material Icons';
  font-size: 3.5rem;
  color: #121418;
  vertical-align: middle;
  padding-right: 2rem;
}

#postal::before {
  content: "place";
  font-family: 'Material Icons';
  font-size: 3.5rem;
  color: #121418;
  vertical-align: middle;
  padding-right: 2rem;
}

form {
  max-width: 65rem;
  border: solid 1px #ebebeb71;
  background-color: #E6C2B2;
}

form h3, form input, form textarea, form button {
  width: calc(100% - 4rem);
  margin: 2rem 2rem;
}

form input, form textarea {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.5rem 2rem;
}

form input:focus, form textarea:focus {
  border: solid 3px #707070;
}

form textarea {
  height: 30rem;
}

form button {
  text-transform: uppercase;
  color: #E6C2B2;
  border-radius: 50rem;
  background-color: #80242B;
  margin-bottom: 2rem;
}

@media (min-width: 300px) {
  form button {
    padding: 0.5rem 4rem;
  }
}

@media (min-width: 400px) {
  form button {
    padding: 1.5rem 8rem;
  }
}

form p {
  margin: 8rem 0 10rem 2rem;
  background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/complete.svg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  padding-top: 28rem;
  background-position-x: 60%;
  background-size: 200px;
}

form div:first-of-type, form div:last-of-type {
  width: 100%;
}

label:not(.errorLabel) {
  display: none;
}

.errorLabel {
  color: red;
  font-size: 1.8rem;
  padding: 0 0 2rem 2rem;
  margin-right: 1rem;
  display: inherit;
}

.errorLabel::before {
  content: "▸ ";
}

.error {
  border: solid 5px red;
}

#cta {
  background: url("https://coneynicollete-fs.github.io/coneytransports/images/truck.jpg") rgba(0, 0, 0, 0.247);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  background-blend-mode: multiply;
  overflow: hidden;
}

@media (min-width: 300px) {
  #cta {
    padding: 0 4rem;
  }
}

@media (min-width: 400px) {
  #cta {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px) {
  #cta {
    background-size: 100% auto;
    background-position: unset;
  }
}

#cta h2 {
  color: #121418;
  text-shadow: 0.5px 0.5px 5px #ffffff;
}

@media (min-width: 300px) {
  #cta h2 {
    margin-top: 5rem;
  }
}

@media (min-width: 450px) {
  #cta h2 {
    margin-top: 27.5rem;
  }
}

@media (min-width: 665px) {
  #cta h2 {
    margin-top: 30.5rem;
  }
}

@media (min-width: 992px) {
  #cta h2 {
    margin-top: 47rem;
  }
}

@media (min-width: 1770px) {
  #cta h2 {
    margin-top: 57rem;
  }
}

#cta p {
  color: #ffffff;
  max-width: 52rem;
  margin-bottom: 5rem;
  text-shadow: 0.08rem 0 #121418, 0 0.08rem #121418, -0.08rem 0 #121418, 0 -0.08rem #121418;
}

#cta p:nth-of-type(2) {
  margin-bottom: 12rem;
}

.goToServices {
  background-color: #80242B;
  border: solid 1px #E6C2B2;
  border-radius: 50rem;
}

.goToServices a {
  color: #E6C2B2;
  text-shadow: none;
}

@media (min-width: 300px) {
  .goToServices {
    padding: 1rem 38%;
  }
}

@media (min-width: 400px) {
  .goToServices {
    padding: 1.5rem 40%;
  }
}

@media (min-width: 650px) {
  .goToServices {
    padding: 1.5rem 22rem;
  }
}

#about {
  background-color: #ebebeb71;
}

#about h2 {
  text-align: center;
  color: #121418;
  padding-top: 5rem;
}

#about h3 {
  color: #80242B;
  margin-bottom: .5rem;
}

@media (min-width: 300px) {
  #about ul {
    padding: 3rem 4rem;
  }
}

@media (min-width: 400px) {
  #about ul {
    padding: 3rem 8rem;
  }
}

@media (min-width: 1216px) {
  #about ul {
    padding: 5rem 20rem;
  }
}

#about li {
  margin-bottom: 5rem;
}

@media (min-width: 850px) {
  #about li {
    max-width: 25rem;
    margin-right: 5rem;
  }
}

@media (min-width: 992px) {
  #about li {
    max-width: 35rem;
  }
}

@media (min-width: 1550px) {
  #about li {
    max-width: 45rem;
  }
}

@media (min-width: 300px) {
  #mission {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/missionsmall.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 850px) {
  #mission {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/missionlarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 30% 2rem;
    background-size: 130px;
  }
}

@media (min-width: 300px) {
  #values {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/valuessmall.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 850px) {
  #values {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/valueslarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 30% 2rem;
    background-size: 130px;
  }
}

@media (min-width: 300px) {
  #vision {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/visionsmall.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 850px) {
  #vision {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/visionlarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 30% 2rem;
    background-size: 130px;
  }
}

@media (min-width: 300px) {
  #core {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/coresmall.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 850px) {
  #core {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/corelarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 30% 2rem;
    background-size: 130px;
  }
}

#services {
  margin-bottom: 10rem;
}

@media (min-width: 300px) {
  #services {
    padding: 3rem 4rem;
  }
}

@media (min-width: 400px) {
  #services {
    padding: 3rem 8rem;
  }
}

#services h2 {
  width: 100%;
  color: #121418;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

#services h3 {
  color: #80242B;
  margin-bottom: .5rem;
}

#services .formSubmitted {
  color: #121418;
}

#services li {
  margin-bottom: 5rem;
}

#services p {
  min-width: 30rem;
}

@media (min-width: 400px) {
  #services p {
    max-width: 35rem;
  }
}

@media (min-width: 750px) {
  #services p {
    max-width: 55rem;
    margin-right: 5rem;
  }
}

@media (min-width: 900px) {
  #services form {
    margin-top: 20%;
  }
}

@media (min-width: 1110px) {
  #services form {
    margin-top: 7%;
  }
}

@media (min-width: 1400px) {
  #services form {
    margin-top: 5%;
  }
}

@media (min-width: 300px) {
  #dedServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/repeatsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 650px) {
  #dedServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/repeatlarge.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
  }
}

@media (min-width: 992px) {
  #dedServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/repeatsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  #dedServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/repeatlarge.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
  }
}

@media (min-width: 300px) {
  #regServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/routesmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 650px) {
  #regServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/routelarge.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
  }
}

@media (min-width: 992px) {
  #regServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/routesmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  #regServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/routelarge.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
  }
}

@media (min-width: 300px) {
  #natServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/mapsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 650px) {
  #natServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/maplarge.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
  }
}

@media (min-width: 992px) {
  #natServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/mapsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  #natServices {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/maplarge.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
  }
}

#careerspage {
  background-color: #ebebeb71;
  overflow: hidden;
}

#careerspage p {
  min-height: 8rem;
  max-width: 115rem;
  margin: 0 auto;
}

#careerspage #mainpar {
  text-align: justify;
  margin-top: 2rem;
}

@media (min-width: 300px) {
  #careerspage section {
    padding: 0rem 4rem;
  }
}

@media (min-width: 400px) {
  #careerspage section {
    padding: 0rem 8rem;
  }
}

@media (min-width: 1000px) {
  #careerspage section:nth-of-type(2), #careerspage section:nth-of-type(3) {
    width: 50%;
  }
}

#careerspage h2 {
  color: #80242B;
  text-align: center;
}

#careerspage #mainh2 {
  color: #121418;
  padding-top: 8rem;
}

#careerspage h3 {
  color: #80242B;
  text-align: center;
}

#careerspage ul {
  color: #121418;
}

@media (min-width: 768px) and (max-width: 992px) {
  #careerspage .col-md-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  #positions {
    margin-left: 8rem;
  }
}

#positions li {
  color: #707070;
  margin: 5rem 0 2rem 0;
  text-align: center;
}

@media (min-width: 1000px) {
  #positions li {
    margin: 8rem 5rem 8rem 0;
  }
}

#apply {
  background-color: #E6C2B2;
  margin: unset;
}

#apply button {
  color: #E6C2B2;
  border-radius: 50rem;
  background-color: #80242B;
  padding: 0rem 6rem;
  height: 5rem;
  margin: 2rem 0;
}

@media (min-width: 550px) {
  #apply button {
    padding: 0 10rem;
  }
}

@media (min-width: 800px) {
  #apply button {
    padding: 0 15rem;
  }
}

@media (min-width: 1500px) {
  #apply button {
    padding: 0 22rem;
  }
}

@media (min-width: 400px) {
  #apply button:first-of-type {
    margin-left: 2rem;
  }
}

.benefits li {
  list-style-type: "▸ ";
}

#drvRequirements, #drvBenefits, #wrkBenefits {
  margin: 2rem 0 5rem 25%;
}

@media (min-width: 550px) {
  #drvRequirements, #drvBenefits, #wrkBenefits {
    margin-left: 35%;
  }
}

@media (min-width: 830px) {
  #drvRequirements {
    margin-left: 15%;
  }
}

@media (min-width: 830px) {
  #drvBenefits {
    margin-left: 0%;
  }
}

@media (min-width: 830px) {
  #wrkBenefits {
    margin-left: 40%;
  }
}

@media (min-width: 300px) {
  #dedCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/repeatsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 767.5px) {
  #dedCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/repeatlarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 46% 2rem;
    background-size: 130px;
  }
}

@media (min-width: 300px) {
  #regCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/routesmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 767.5px) {
  #regCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/routelarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 46% 2rem;
    background-size: 130px;
  }
}

@media (min-width: 300px) {
  #natCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/mapsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 767.5px) {
  #natCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/maplarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 46% 2rem;
    background-size: 130px;
  }
}

@media (min-width: 300px) {
  #cdlCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/schoolsmall.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-left: 0;
  }
}

@media (min-width: 767.5px) {
  #cdlCareers {
    background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/schoollarge.svg");
    padding-right: 2rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 46% 2rem;
    background-size: 130px;
  }
}

#reviews {
  background-color: #ebebeb71;
  padding: 6rem 4rem;
}

#reviews h2 {
  color: #121418;
  text-align: center;
  padding-bottom: 3rem;
}

#reviews h5, #reviews h6, #reviews .reviewRating {
  background-color: #E6C2B2;
}

#reviews h5 {
  padding-top: 1rem;
  font-size: 2.5rem;
  color: #80242B;
}

#reviews h6 {
  color: #707070;
}

#reviews img {
  float: left;
  margin: 2rem;
  border-radius: 35px;
  width: 60px;
  height: 60px;
}

.reviewCard {
  background-color: #fff;
  color: #121418;
  max-width: 75rem;
  margin: 0 auto;
  border: solid 1.2px #80242B;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.486);
}

.reviewCard p:nth-of-type(1) {
  padding: 5rem 8rem;
  background-image: url("https://coneynicollete-fs.github.io/coneytransports/images/left-quote.svg"), url("https://coneynicollete-fs.github.io/coneytransports/images/right-quote.svg");
  background-repeat: no-repeat;
  background-position: left 20px top 20px, right 20px bottom 20px;
  background-size: 30px;
  background-origin: padding-box;
}

.reviewRating {
  padding-bottom: 1rem;
  font-size: 0;
  color: #80242B;
}

.reviewRating::before {
  content: "star star star star star";
  font-family: "Material Icons";
  font-size: 2rem;
}

.carousel, .carousel-item {
  position: inherit;
  float: none;
}

#finalCTA {
  background-color: #E6C2B2;
}

@media (min-width: 300px) {
  #finalCTA {
    padding: 3rem 4rem;
  }
}

@media (min-width: 400px) {
  #finalCTA {
    padding: 3rem 8rem;
  }
}

#finalCTA p {
  width: fit-content;
  margin: 0 auto;
  color: #E6C2B2;
  border-radius: 50rem;
  background-color: #80242B;
  padding: 1.5rem 6rem;
}

@media (min-width: 550px) {
  #finalCTA p {
    padding: 1.5rem 10rem;
  }
}

@media (min-width: 800px) {
  #finalCTA p {
    padding: 1.5rem 15rem;
  }
}

@media (min-width: 1500px) {
  #finalCTA p {
    padding: 1.5rem 22rem;
  }
}
/*# sourceMappingURL=main.css.map */