#careerspage {
    background-color: $mainbgcolor;
    overflow: hidden;

    p {
        min-height: 8rem;
        max-width: 115rem;
        margin: 0 auto;
    }

    #mainpar {
        text-align: justify;
        margin-top: 2rem;
    }

    section {
        @include small-to-med-phone {
            @include gutters(0rem, 4rem)
        }
    
        @include med-phone-to-big-screen {
            @include gutters(0rem, 8rem )
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            @media (min-width: 1000px) {
                width: 50%;
            }
        }
    }

    h2 {
        color: $darkaccentcolor;
        text-align: center;
    }

    #mainh2 {
        color: $maindarkcolor;
        padding-top: 8rem;
    }

    h3 {
        color: $darkaccentcolor;
        text-align: center;
    }

    ul {
        color: $maindarkcolor;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .col-md-4 {
            flex: 0 0 auto;
            width: 50%;
        }
    }
}

#positions {
    @media (min-width: 992px) {
        margin-left: 8rem;
    }
}

#positions li {
    color: $fontcolor;
    margin: 5rem 0 2rem 0;
    text-align: center;

    @media (min-width: 1000px) {
        margin: 8rem 5rem 8rem 0;
    }
}

#apply {
    background-color: $lightaccentcolor;
    margin: unset;

    button {
        color: $lightaccentcolor;
        border-radius: 50rem;
        background-color: $darkaccentcolor;
        padding: 0rem 6rem;
        height: 5rem;
        margin: 1.5rem 0;


        @media (min-width: 550px) {
            padding: 0rem 10rem;
        }

        @media (min-width: 800px) {
            padding: 0rem 15rem;
        }

        @media (min-width: 1500px) {
            padding: 0rem 22rem;
        }
        
        &:first-of-type {
            @include med-phone-to-big-screen {
                margin-left: 2rem; 
            }
        }
    }
}

.benefits li {
    list-style-type: "\25b8" + " ";
}

#drvRequirements, #drvBenefits, #wrkBenefits {
    margin: 2rem 0 5rem 25%;

    @media (min-width:550px) {
        margin-left: 35%;
    }
}

#drvRequirements {
    @media (min-width:830px) {
        margin-left: 15%;
    }
}

#drvBenefits {
    @media (min-width:830px) {
        margin-left: 0%;
    }
}

#wrkBenefits {
    @media (min-width:830px) {
        margin-left: 40%;
    }
}

#dedCareers{
    @include small-to-med-phone {
        @include servicescareersiconssmall ($dedimagesm)
    }

    @include careersiconslarge($dedimagelg, -18%);
}

#regCareers{
    @include small-to-med-phone {
        @include servicescareersiconssmall ($regimagesm);
    }

    @include careersiconslarge($regimagelg, -20%);
}

#natCareers{
    @include small-to-med-phone {
        @include servicescareersiconssmall ($natimagesm);
    }

    @include careersiconslarge($natimagelg, -20%);
}

#cdlCareers{
    @include small-to-med-phone {
        @include servicescareersiconssmall ($cdlimagesm)
    }

    @include careersiconslarge($cdlimagelg, -18%);
}