#careerspage {
    background-color: $mainbgcolor;

    section {
        padding: 0 8rem;
    }

    h2 {
        color: $darkaccentcolor;
        text-align: center;
    }

    #mainh2 {
        color: $maindarkcolor;
        padding-top: 20rem;
    }

    h3 {
        color: $darkaccentcolor;
    }

    ul {
        margin: 5rem 0;
        color: $maindarkcolor;
    }
}

#positions li {
    padding-right: 3rem;
    color: $fontcolor;
}

#apply {
    background-color: $lightaccentcolor;
    margin: unset;
    button {
        color: $lightaccentcolor;
        border-radius: 50rem;
        background-color: $darkaccentcolor;
        padding: 1.5rem 20rem;
        
        &:first-of-type {
            margin: 0 8rem 0 22rem;
        }
    }
}

#benefits {
    padding-left: 25rem;
}

