#contactpage {

    section {
        margin: 0 3rem 5rem 0;
    }

    @include small-to-med-phone {
        @include gutters(3rem, 4rem)
    }

    @include med-phone-to-big-screen {
        @include gutters(8rem, 8rem)
    }
    
    h2 {
        color: $maindarkcolor;
        margin-bottom: 2rem;
    }

    h3 {
        color: $darkaccentcolor;
        margin-bottom: .5rem;
    }

    p {
        max-width: 50rem;
    }

    ul {
        margin-top: 3rem;
    }

    li {
        margin-bottom: 2rem;
        color: $maindarkcolor;
        font-size: 2rem;
    }
}

.cntinfo {
    color: $darkaccentcolor;
}

