header {
    @extend %headerfooter_display;
    position: sticky;
    top: 0;

    li {
        margin: 0 1rem;

        @media (max-width: 1400px) {
            padding-top: 1rem;
        }
        
        a { 
            font-weight: 300;
        }
    }
}

h1 a, h2 a{
    white-space: nowrap;
    @include small-to-med-phone {
        font: italic 700 3rem $logo_font;
    }

    @include med-phone-to-big-screen {
        font: italic 700 4rem $logo_font;
    }
}

h2 {
    font-weight: 700;
    @include small-to-med-phone {
        font-size: 4rem;
    }

    @include med-phone-to-big-screen {
        font-size: 6rem;
    }
}

h3 {
    font-weight: 500;

    @include small-to-med-phone {
        font-size: 2.5rem;
    }

    @include med-phone-to-big-screen {
        font-size: 3rem;
    }
}

footer {
    @extend %headerfooter_display;
    color: $mainlightcolor;

    h4, h3 {
        font-size: 3rem;
        font-weight: 300;
    }

    a, p, input {
        font-weight: 300;
    }

    p {
        max-width: 50rem;
    }

    input {
        height: 6rem;
        border: 2px solid $mainlightcolor;
        color: $lightaccentcolor;
        background-color: $darkaccentcolor;
        text-indent: 1rem;

        @include small-to-med-phone {
            max-width: 65%;
        }
    
        @include med-phone-to-big-screen {
            width: 75%;
        }
    }

    button {
        height: 6rem;
        padding: 0 1.5rem;
        background-color: $mainlightcolor;
        margin-left: -1rem;
        color: transparent;
        background: white url("https://coneynicollete-fs.github.io/coneytransports/images/email.svg") no-repeat top;

        @media (any-hover:hover) {
            &:hover {
                background: white url("https://coneynicollete-fs.github.io/coneytransports/images/emailhover.svg") no-repeat top;
            } 
        }

        &:active {
            background: white url("https://coneynicollete-fs.github.io/coneytransports/images/emailactive.svg") no-repeat top;
        }
    }

    .errorLabel {
        padding: 1rem 0 0 0;
    }
}

a {
    color: $mainlightcolor;
}

#footerNav {
    margin-right: 3.8rem;
}

.quoteBtn {
    height: fit-content;
    border: 1px solid $lightaccentcolor;
    border-radius: 50rem;
    color: $lightaccentcolor;
    background-color: $darkaccentcolor;

    @include small-to-med-phone {
        @include gutters(.8rem, 1.5rem)
    }

    @include med-phone-to-big-screen {
        @include gutters(1.2rem, 3rem)
    }
}

.socials {

    li {
        transition: transform 0.1s ease-in-out;

        &:active {
            transform: scale(.93);
        }
    }

    a {
        font-size: 0;
        margin-right: 3rem;
        transition: color 0.1s ease-in-out;
    }
}

#fb::before {
    @include socialicons("\f39e");
}

#twitter::before {
    @include socialicons("\f099");
}

#insta::before {
    @include socialicons("\f16d");
}

#linked::before {
    @include socialicons("\f0e1");
}

.copyright {
    font-size: 1.5rem;
}

.copy {
    font-family: $logo_font;
    font-style: italic;
}

#thankYouMessage {
    color: $lightaccentcolor;
}
