header {
    @extend %headerfooter_display;
    position: fixed;
    top: 0;

    li {
        margin: 0 1rem;
        padding-top: 1rem;

        a{ 
            font-weight: 300;
        }
    }
}

h1 a, h2 a{
    font: italic 700 4rem $logo_font;
}

h2 {
    font-size: 6rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

footer {
    @extend %headerfooter_display;
    color: $mainlightcolor;

    section {
        &:nth-of-type(1), &:nth-of-type(2) {
            margin-right: 15rem;
        }
    }

    nav {
        ul:nth-of-type(2) {
            margin-left: 2rem;
        }
    }

    h4, h3 {
        font-size: 3rem;
        font-weight: 300;
    }

    a, p, input {
        font-weight: 300;
    }

    p {
        max-width: 50rem;
    }

    input {
        border: 1px solid $mainlightcolor;
        padding: 1.4rem;
        color: $lightaccentcolor;
        background-color: $darkaccentcolor;
    }

    button {
        border: 1px solid white;
        background-color: $mainlightcolor;
        padding: 1.5rem;
        margin-left: -.5rem;
    }
}

a {
    color: $mainlightcolor;
}

.quoteBtn {
    padding: 1.5rem 3rem;
    border: 1px solid $lightaccentcolor;
    border-radius: 50rem;
    color: $lightaccentcolor;
    background-color: $darkaccentcolor;
}

.socials {

    li {
        margin-right: 1rem;
    }
}

.copy {
    font-family: $logo_font;
    font-style: italic;
}
