// Mixins
@mixin small-to-med-phone {
    @media (min-width: 300px) {@content;}
}

@mixin med-phone-to-big-screen {
    @media (min-width: 400px) {@content;}
}

@mixin gutters($x, $y) {
    padding: $x $y;
}

@mixin contacticons($code) {
    content: $code;
    font-family: 'Material Icons';
    font-size: 3.5rem;
    vertical-align: middle;
    padding-right: 2rem;
}

@mixin servicescareersiconssmall($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-left: 0;
}

@mixin servicesiconslarge($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 110px;
    background-origin: padding-box;
    padding-left: 15rem;
}

@mixin careersiconslarge($url) {
    @media (min-width: 767.5px) {
    background-image: url($url);
    margin-right: 10rem;
    background-origin: padding-box;
    padding-top: 18rem;
    background-position: 30% 1rem;
    background-size: 130px; 
    }
}

@mixin smallservicesscreen($url) {
    @media (min-width: 650px) {
        @include servicesiconslarge($url);
    }
}

@mixin medservicesscreen($url) {
    @media (min-width: 992px) {
        @include servicescareersiconssmall($url);
    }
}

@mixin lgservicesscreen($url) {
    @media (min-width: 1400px) {
        @include servicesiconslarge($url);
    }
}

@mixin socialicons($code) {
    content: $code;
    font: 400 4rem "Font Awesome 5 Brands";
    text-shadow:  2.5px 2.5px 5px $fontcolor;
}

// Placeholders
%headerfooter_display {
    background: $maindarkcolor;

    @include small-to-med-phone {
        @include gutters(3rem, 4rem)
    }

    @include med-phone-to-big-screen {
        @include gutters(3rem, 8rem)
    }
};