#services {
    margin-bottom: 10rem;

    @include small-to-med-phone {
        @include gutters(3rem, 4rem)
    }

    @include med-phone-to-big-screen {
        @include gutters(3rem, 8rem)
    }

    h2 {
        width: 100%;
        color: $maindarkcolor;
        margin-bottom: 5rem;
        padding-top: 5rem;
    }

    h3 {
        color: $darkaccentcolor;
        margin-bottom: .5rem;
    }

    li {
        margin-bottom: 5rem;
    }

    p {  
        min-width: 30rem;  
        @include med-phone-to-big-screen {
            max-width: 35rem;
        }

        @media (min-width: 750px) {
            max-width: 55rem;
            margin-right: 5rem;
        }
    }

    form {
        @media (min-width: 900px) {
            margin-top: 20%;
        }

        @media (min-width: 1110px) {
            margin-top: 15%;
        }

        @media (min-width: 1400px) {
            margin-top: 10%;
        }
    }
}

#dedServices{
    @include small-to-med-phone {
        @include servicescareersiconssmall($dedimagesm);
    }

    @include smallservicesscreen($dedimagelg);

    @include medservicesscreen($dedimagesm);

    @include lgservicesscreen($dedimagelg);
}

#regServices{
    @include small-to-med-phone {
        @include servicescareersiconssmall ($regimagesm)
    }

    @media (min-width: 650px) {
        @include servicesiconslarge($regimagelg);
    }

    @media (min-width: 992px) {
        @include servicescareersiconssmall($regimagesm);
    }

    @media (min-width: 1400px) {
        @include servicesiconslarge($regimagelg);
    }
}

#natServices{
    @include small-to-med-phone {
        @include servicescareersiconssmall ($natimagesm)
    }

    @media (min-width: 650px) {
        @include servicesiconslarge($natimagelg);
    }

    @media (min-width: 992px) {
        @include servicescareersiconssmall($natimagesm);
    }

    @media (min-width: 1400px) {
        @include servicesiconslarge($natimagelg);
    }
}