#services {
    padding: 0 0 10rem 8rem;

    h2 {
        width: 100%;
        color: $maindarkcolor;
        padding: 18rem 0 5rem 0;
    }

    h3 {
        color: $darkaccentcolor;
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 5rem;
    }

    p {
        width: 55rem;
    }


    form {
        margin-top: 20rem;
    }
}