#services {
    margin-bottom: 10rem;

    @include small-to-med-phone {
        @include gutters(3rem, 4rem)
    }

    @include med-phone-to-big-screen {
        @include gutters(3rem, 8rem)
    }

    h2 {
        width: 100%;
        color: $maindarkcolor;
        margin-bottom: 5rem;
    
        @include med-phone-to-big-screen {
            padding-top: 35rem;
        }

        @media (min-width: 992px) {
            padding-top: 20rem;
        }
    }

    h3 {
        color: $darkaccentcolor;
        margin-bottom: .5rem;
    }

    li {
        margin-bottom: 5rem;
    }

    p {    
        @include med-phone-to-big-screen {
            max-width: 35rem;
        }

        @media (min-width: 750px) {
            max-width: 55rem;
            margin-right: 5rem;
        }
    }

    form {
        @media (min-width: 900px) {
            margin-top: 22rem;
        }
    }
}