// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap');

//Variables 
$main_font: 'Yantramanav', sans-serif;
$logo_font: 'Playfair Display', serif;
$mainlightcolor: #ffffff;
$maindarkcolor: #121418;
$mainbgcolor: #EBEBEB;
$lightaccentcolor: #E6C2B2;
$darkaccentcolor: #80242B;
$fontcolor: #707070;
$dedimagesm: "https://coneynicollete-fs.github.io/coneytransports/images/repeatsmall.svg";
$dedimagelg: "https://coneynicollete-fs.github.io/coneytransports/images/repeatlarge.svg";
$regimagesm: "https://coneynicollete-fs.github.io/coneytransports/images/routesmall.svg";
$regimagelg: "https://coneynicollete-fs.github.io/coneytransports/images/routelarge.svg";
$natimagesm: "https://coneynicollete-fs.github.io/coneytransports/images/mapsmall.svg";
$natimagelg: "https://coneynicollete-fs.github.io/coneytransports/images/maplarge.svg";
$cdlimagesm: "https://coneynicollete-fs.github.io/coneytransports/images/schoolsmall.svg";
$cdlimagelg: "https://coneynicollete-fs.github.io/coneytransports/images/schoollarge.svg";

// Imports
@import "reset";
@import "sassinserts";
@import "headings";
@import "contact";
@import "form";
@import "cta";
@import "about";
@import "services";
@import "careers";