// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap');

//Variables 
$main_font: 'Yantramanav', sans-serif;
$logo_font: 'Playfair Display', serif;
$mainlightcolor: #ffffff;
$maindarkcolor: #121418;
$mainbgcolor: #ebebeb71;
$lightaccentcolor: #E6C2B2;
$darkaccentcolor: #80242B;
$fontcolor: #707070;
$dediconsm: "https://coneynicollete-fs.github.io/coneytransports/images/repeatsmall.svg";
$dediconlg: "https://coneynicollete-fs.github.io/coneytransports/images/repeatlarge.svg";
$regiconsm: "https://coneynicollete-fs.github.io/coneytransports/images/routesmall.svg";
$regiconlg: "https://coneynicollete-fs.github.io/coneytransports/images/routelarge.svg";
$naticonsm: "https://coneynicollete-fs.github.io/coneytransports/images/mapsmall.svg";
$naticonlg: "https://coneynicollete-fs.github.io/coneytransports/images/maplarge.svg";
$cdliconsm: "https://coneynicollete-fs.github.io/coneytransports/images/schoolsmall.svg";
$cdliconlg: "https://coneynicollete-fs.github.io/coneytransports/images/schoollarge.svg";
$missioniconsm: "https://coneynicollete-fs.github.io/coneytransports/images/missionsmall.svg";
$missioniconlg: "https://coneynicollete-fs.github.io/coneytransports/images/missionlarge.svg";
$valuesiconsm: "https://coneynicollete-fs.github.io/coneytransports/images/valuessmall.svg";
$valuesiconlg: "https://coneynicollete-fs.github.io/coneytransports/images/valueslarge.svg";
$visioniconsm: "https://coneynicollete-fs.github.io/coneytransports/images/visionsmall.svg";
$visioniconlg: "https://coneynicollete-fs.github.io/coneytransports/images/visionlarge.svg";
$coreiconsm: "https://coneynicollete-fs.github.io/coneytransports/images/coresmall.svg";
$coreiconlg: "https://coneynicollete-fs.github.io/coneytransports/images/corelarge.svg";

// Imports
@import "reset";
@import "sassinserts";
@import "headings";
@import "nav";
@import "contact";
@import "form";
@import "cta";
@import "about";
@import "services";
@import "careers";
@import "reviews";